{
  "canonical_rules": [
    ["black metal", "metal"],
    ["death metal", "metal"],
    ["thrash metal", "metal"],
    ["industrial metal", "metal"],
    ["Power metal", "metal"],
    ["Progressive metal", "metal"],
    ["punkrock", "punkrock"],
    ["hiphop", "hiphop"],
    ["hip-hop", "hiphop"],
    ["Horrorcore", "hiphop"],
    ["hard rock", "hard rock"],
    ["hardcore", "hardcore"],
    ["hardstyle", "hardstyle"],
    ["psychedelic rock", "psychedelic rock"],
    ["new wave", "new wave"],
    ["post-punk", "post punk"],
    ["psychedelic trance", "trance"],
    ["progressive trance", "trance"],
    ["trance", "trance"],
    ["Soundtrack", "soundtrack"],
    ["Drum and bass", "drum and bass"],
    ["reggae", "reggae"]
  ],
  "genre_overrides": {
    "Light & Love": "trance",
    "Ajna - Search For The Divine [Full Album]": "trance",
    "Peptalk": "hiphop",
    "Filthyland (China) - Plaguecraft of Yperite": "metal",
    "How Can Somebody": "hardcore",
    "Naglfar - Devoured By Naglfar": "metal",
    "Yellow Queen": "metal",
    "Satanic Warmaster - The Vampiric Tyrant": "metal",
    "Gorgoroth - Unchain My Heart!!!": "metal",
    "Openbare Ruimte": "hiphop",
    "Peste Noire - Phalènes Et Pestilence - Salvatrice Averse": "metal",
    "Peste Noire - La Sanie Des Siècles - Panégyrique De La Dégénérescence (Full Album)": "metal",
    "Executor": "drum and bass",
    "Scarif": "drum and bass",
    "Immersion (feat. Belle Doron)": "drum and bass",
    "Seppuku": "drum and bass",
    "Dawn of a Dark Day (feat. Foreign Beggars)": "drum and bass",
    "Ik Schiet II": "hiphop",
    "Притоптать": "drum and bass",
    "Amaranth": "metal",
    "Search For The Divine [Full Album]": "goa trance",
    "You and I are in a Dark Crypt Forever": "dungeon synth",
    "Unknown Error,Sas,Remidazz,Ill Material,Mortier - Spring (Zonder Ritalin)": "hiphop",
    "12 - Pakken - NUL7NEGEN - Broederschap": "hiphop"
  },
  "playlist_rules": {
    "metal": "metal shit",
    "hardcore": "Harde shit",
    "hiphop": "gangsta shit"
  }
}
